@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: #D435
}



.bookcase_title {
  display: flex;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.toolbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 32px;
  gap: 15px;
}

.toolbox button {
  background-color: aliceblue;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
}
